body {
    background-color:#970000;
    margin: 0;
    padding: 0;
}

.navbar ul{
    text-underline: none;
    color: black;
    list-style:none;
    background-color:#464646;
    padding:0;
    margin:0;
}

.navbar li{
    display:inline-block;
    margin-left:125px;
}

.navbar a {
    text-decoration: none;
    color: black;
    display:block;
    width:100px;
    padding:25px 20px;
    font-weight:bold;
    font-family:arial;
    text-align:center;
}

.navbar a:hover{
    background:#740000;
}

h1 {
    text-align:center;
    font-weight:bold;
    font-size:50px;
}